.gallery-section {
  background-color: var(--bg-color);
}
.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}
.gallery-card {
  position: relative;
}
.gallery-card::before {
  position: absolute;
  content: "";
  inset: 0.5rem;
  background-color: var(--primary-color);
  border-radius: var(--radius);
  transform: scaleY(0);
  opacity: 0;
  transition: 0.5s var(--transition);
}

.gallery-card:hover::before {
  transform: scaleY(1);
  opacity: 0.7;
}
.gallery-card img {
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
}
.gallery-card .gallery-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-top: 3rem;
  font-size: var(--largest-font-size);
  color: var(--primary-color);
  background-color: var(--title-color);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: 0.3s var(--transition);
  transition-delay: 0.2s;
}
.gallery-title {
  position: absolute;
  bottom: 0;
  inset-inline: 1.75rem;
  padding-block: 1rem;
  text-align: center;
  font-size: var(--larger-font-size);
  background-color: var(--container-color);
  border-radius: var(--radius);
  transition: 0.5s var(--transition);
}
.gallery-title,
.gallery-icon {
  opacity: 0;
}
.gallery-card:hover .gallery-icon {
  margin-top: 0;
  opacity: 1;
}
.gallery-card:hover .gallery-title {
  opacity: 1;
  bottom: 1rem;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 767px) {
  .gallery-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
}
