.stat-section {
  padding: 100px;
  background-color: var(--container-color);
}
.stat-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}
.stat-img {
  position: relative;
  display: inline-block;
  margin-bottom: 2.5rem;
  z-index: 2;
}
.stat-img img {
  width: 50px;
  height: 50px;
}
.stat-img::before {
  position: absolute;
  content: "";
  top: -25px;
  left: -25px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--primary-color);
  opacity: 0.3;
  z-index: -1;
  transition: 0.75s var(--transition);
}
.stat-img:hover::before {
  top: -15px;
  left: -15px;
}
.stat-number {
  font-family: var(--body-font);
}
.stat-section .stat-number {
  font-size: var(--big-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: 0;
}
.stat-section .stat-description {
  font-family: var(--second-font);
  color: var(--primary-color);
  font-size: 1rem;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .stat-section {
    padding: 100px 30px;
  }
}

@media screen and (max-width: 767px) {
  .stat-section {
    padding: 100px 30px;
  }
  .stat-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 20px;
  }
  .stat-img {
    margin-bottom: 1.5rem;
  }
}
