.card {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 25px;
    background-color: #000 !important;
    border-radius: var(--radius);
    transition: .5s var(--transition);
}
.card:hover {
    transform: translateY(-10px);
}
.card::before {
    position: absolute;
    content: "";
    inset: .75rem;
    border: 2px solid var(--primary-color);
    border-radius: inherit;
    opacity: .2;
}
.card .card-logo {
    width: 60px;
    margin-bottom: 1.25rem;
}
.card h3 {
    margin-bottom: .6255em;
    font-size: var(--h3-font-size);
}
.card p {
    color: var(--text-color);
}
.card .shape-img {
    position: absolute;
    right: 1.25rem;
    top: 2rem;
    width: 100px;
    opacity: .3;
}