header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  padding: 15px 100px;
  transition: 0.35s var(--transition);
  z-index: 100;
}
header.active {
  transition: 0.35s var(--transition);
  background-color: var(--container-color);
}
.links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  gap: 1.25rem;
  margin-bottom: 0;
}
.logo a {
  display: inline-block;
  height: 100%;
  cursor: pointer;
}
.logo img {
  width: 150px;
}
.links li,
.sub-links li {
  color: var(--title-color);
  cursor: pointer;
}
.links li:hover,
.sub-links li:hover {
  color: var(--primary-color);
}
.links a,
.sub-links a {
  color: var(--title-color);
}
.links a.active,
.sub-links a.active {
  color: var(--primary-color);
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
.sub-menu {
  display: none;
  font-size: 1.75rem;
  color: #fff;
  cursor: pointer;
}
.sub-links li {
  font-size: var(--large-font-size);
}
.sub-links {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  margin-bottom: 0;
  padding: 0.25rem 1.5rem;
  border-radius: var(--radius);
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  z-index: 100;
  text-align: right;
  transform: translateX(100%);
  transition: 0.5s ease;
}
.sub-links span {
  display: inline-block;
  margin-bottom: 20px;
  cursor: pointer;
}
.sub-links span:hover {
  color: var(--primary-color);
}
.sub-links li:hover a {
  color: var(--primary-color);
}
.sub-links li {
  margin-bottom: 10px;
}
.sub-links.active {
  transform: translateX(0);
}
.icon-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.icon-container span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  bottom: -10px;
  right: -5px;
  border-radius: 50%;
  font-size: 0.8rem;
  background-color: var(--primary-color);
}

/* tablet */
@media screen and (min-width: 767px) and (max-width: 1023px) {
  header {
    padding: 15px 50px;
  }
}

/* phone */

@media screen and (max-width: 767px) {
  header {
    padding: 15px 30px;
  }
  .sub-menu {
    display: block;
  }
  .links {
    display: none;
  }
}
