.footer-section {
    background-color: var(--container-color);   
    position: relative;
    overflow: hidden;
}
.footer-section .footer-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1.25rem;
}
.footer-logo {
    width: 150px;
    margin-bottom: 2rem;
}
.footer-description {
    margin-bottom: 1.25rem;
}
.footer-info li{
    display: flex;
    align-items: center; 
    gap: 1rem;
    margin-bottom: .75rem;
    color: var(--text-color);
    font-size: var(--normal-font-size);
}
.center {
    display: flex;
}
.center h3, .newsletter h3 {
    position: relative;
    font-size: var(--largest-font-size);
    padding-bottom: 1.25rem;
}
.center h3::before, .newsletter h3::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
}
.center h3::after, .newsletter h3::after {
    position: absolute;
    content: "";
    width: 35px;
    height: 2px;
    bottom: 0;
    left: 15px;
    background-color: var(--primary-color);
}
.footer-links {
    margin-top: 1.5rem;
}
.footer-links li {
    margin-bottom: 1.25rem;
}
.footer-links li span {
    color: var(--title-color);
}
.quick-link  {
    padding-right: 4rem;
}   
.quick-link li {
    transition: .35s var(--transition);
}
.quick-link li:hover {
    transform: translateY(-5px)
}
.opening-hours {
    flex: 1;
}
.schedule {
    width: 100%;
    margin-top: 1.5rem;
    padding: 1rem;
    border: 2px dashed var(--primary-color);
}
.schedule li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
    margin-bottom: .75rem;
}
.newsletter-content {
    margin-top: 1.5rem;
}
.newsletter-content p {
    text-transform: capitalize;
    margin-bottom: .5rem;
}
.newsletter-content input {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 2px solid var(--title-color);
    background-color: var(--bg-color);
    color: var(--title-color);
    border-radius: var(--radius);
    outline: none;
}
.newsletter-content button {
    width: 100%;
    padding: .75rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.newsletter-content .follow {
    font-size: var(--large-font-size);
    font-family: var(--second-font);
    color: var(--title-color);
}
.newsletter-content ul {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 0;
}
.newsletter-content ul a {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 33px;
    height: 33px;
    margin-right: 1.25rem;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    transition: .5s var(--transition);
}
.newsletter-content ul a:hover {
    background-color: var(--primary-color);
}
