.menu-section {
    background: linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)),
    url("../../assets/images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

